.popup__error {
    margin: 0;
    padding: 0;
    color: #FF0000;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    opacity: 0;
    justify-content: center;
    align-items: center;
    min-width: 238px;
    width: 100%;
    position: absolute;
    top: 83px;
}