.profile__edit {
    all: unset;
    background-image: url(../../../images/pencil.png);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 24px;
    max-height: 24px;
    outline: 1px solid rgba(255, 255, 255, 1);
    background-color: black;
    margin: 15px 0 0 0;
    padding: 0;
    cursor: pointer;
}

.profile__edit:hover {
    opacity: 0.6;
    transition: 0.2s;
}

@media screen and (max-width: 500px) {
    .profile__edit {
        min-width: 18px;
        max-height: 18px;
        margin: 8px 0 0 0;
    }
}