.popup__close {
    margin: 0;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    width: 11%;
    min-height: 5%;
    border: none;
    background-image: url(../../../images/Close.png);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
    transition: 0.2s;
}

@media screen and (max-width: 500px) {
    .popup__close {
        top: 0;
        right: 19px;
        left: 262px;
        width: 7.1%;
        min-height: 3.18%;
    }
}