.popup__close {
    margin: 0 185px 0 663px;
    position: relative;
    padding: 0;
    width: 11%;
    min-height: 5%;
    border: none;
    background-image: url(../../../images/Close\ Icon.svg);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1000px) {
    .popup__close {
        width: 7.1%;
        min-height: 3.18%;
        background-size: 20px 20px;
        margin: 0 0 16px 262px;
    }
}