.elements__like {
  all: unset;
  min-width: 22px;
  min-height: 19px;
  padding: 0;
  margin: 0;
  background-image: url(../../../images/like.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 19px;
  cursor: pointer;
}

.elements__like:hover {
  opacity: 0.5;
  transition: 0.2s;
}