.profile__button-avatar {
    all: unset;
    max-width: 150px;
    max-height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url(../../../images/button-avatar.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.profile__button-avatar:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1000px) {
    .profile__button-avatar {
        margin-top: 36px;
        max-width: 282px;
        background-size: 16px;
    }
}